In [23]:
# import libraries
import numpy as np
import pandas as pd

In [24]:
# TODO: read the dataset
df = pd.read_csv('./data/students_performance.csv')
df.head()

  student name  reading score  math score  writing score
0      Melanie             58          49             25
1    Gabriella             45          72             88
2       Ashley             46          27             22
3        James             84           2             77
4      William             69          35             26

In [25]:
# TODO: calculate mean, median, and mode for each subject

subjects = ["math score", "reading score", "writing score"]


mean_val = {}
median_val = {} 
mode_val = {}


for subject in subjects:
    mean_val[subject] = round(np.mean(df[subject]), 2)
    median_val[subject] = round(np.median(df[subject]), 2)
    mode_val[subject] = round(df[subject].mode()[0], 2)

In [26]:
print(mean_val['math score'], median_val['math score'], mode_val['math score'])

50.6 52.0 19

In [27]:
# TODO: calculate variance and standard deviation for each subject


variance_val = {}
std_val = {}
range_val = {}

for subject in subjects:
    variance_val[subject] = round(np.var(df[subject]), 2)
    std_val[subject] = round(np.std(df[subject]), 2)
    range_val[subject] = round(df[subject].max() - df[subject].min(), 2)

In [28]:
print(variance_val['math score'], std_val['math score'], range_val['math score'])

707.43 26.6 99

In [29]:
# TODO: calculate total score for each student (mean of three subjects)

df["total score"] = df[subjects].mean(axis=1)
df.head()

  student name  reading score  math score  writing score  total score
0      Melanie             58          49             25    44.000000
1    Gabriella             45          72             88    68.333333
2       Ashley             46          27             22    31.666667
3        James             84           2             77    54.333333
4      William             69          35             26    43.333333

In [30]:
# TODO: calculate Q1, Q3, and IQR for total score 

Q1 = df["total score"].quantile(0.25)
Q3 = df["total score"].quantile(0.75)
IQR = Q3 - Q1

In [31]:
print(f"Q1: {Q1}, Q3: {Q3}, IQR: {IQR}")

Q1: 39.0, Q3: 58.25, IQR: 19.25

In [32]:
# TODO: calculate the percenatage of students who has total score < Q1, between Q1 and Q3, and > Q3

less_than_Q1 = round(df[df["total score"] < Q1].shape[0] / df.shape[0] * 100, 2)
between_Q1_Q3 = round(df[(df["total score"] >= Q1) & (df["total score"] <= Q3)].shape[0] / df.shape[0] * 100, 2)
more_than_Q3 = round(df[df["total score"] > Q3].shape[0] / df.shape[0] * 100, 2)

In [33]:
print(f"less than Q1: {less_than_Q1}%, between Q1 and Q3: {between_Q1_Q3}%, more than Q3: {more_than_Q3}%")

less than Q1: 24.4%, between Q1 and Q3: 50.4%, more than Q3: 25.2%